 <div class="off-canvas position-left" id="off-canvas-left" data-off-canvas aria-hidden="false">
  <button class="close-button" aria-label="Close menu" type="button" data-close="">
    <span aria-hidden="true">×</span>
  </button>
  <div class="profile">
    <div class="row collapse">
      <div class="columns small-3">
        <img src="{{root}}assets/img/calley-champagne.jpg" alt="" width="100" />
      </div>
      <div class="columns small-9 name">
        <h5>Calley Nye</h5>
        <i class="fa fa-trophy"></i> <span class="points">3,400</span>
      </div>
    </div>
  </div>
  <ul class="vertical menu" data-accordion-menu>
    <li><a href="/account.html">My Account</a></li>
    <li><a href="/messages.html">Messages</a></li>
    <li><a href="/friends/.html">Friends</a></li>
    <li><a href="">Log Out</a></li>
  </ul>
</div>